// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; // value from 100 to 900
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.chiron-goround-tc-font {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; // value from 200 to 900
  font-style: normal;
}

i.bi {
  &.bolder {
    &::before {
      font-weight: 700 !important;
      transform: translateY(1px);
    }
  }
}

.italics {
  display: inline-block;
  transform: skewX(-8deg);
}
