// Offcanvas
.offcanvas {
  .offcanvas {
    &-body {
      .tt {
        line-height: 1.75;
        font-size: 1.1em;
      }
      .form-check {
        margin-bottom: .5em;
      }
    }
    &-footer {
      padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    }
  }
  @include media-breakpoint-down(md) {
    &.offcanvas-end {
      width: 89vw;
    }
  }
}
