/* -----------------------------------
 * AdminDashboard.vue 管理後台
 * ----------------------------------- */
.tabNav {
  .nav-item {
    border-radius: .5rem;
    overflow: hidden;
  }
  .nav-link {
    &.active {
      font-weight: 700;
      background-color: #fff;
      border-bottom: solid var(--bs-primary) .475rem;
      @include media-breakpoint-up(lg) {
        border-bottom: none;
        border-right: solid var(--bs-primary) .7rem;
      }
    }
  }
}
.admin {
  @include media-breakpoint-down(lg) {
    .tabNav {
      .nav-link {
        padding-top: .75em;
        padding-bottom: .75em;
      }
    }
  }
  @include media-breakpoint-between(md, xl) {
    max-width: 96%;
  }
}
