// Custom.scss 
// -------------------------------------------------------- */

// 自定義變數：有修改的拉出來寫比較好找
// Include any default variable overrides here (though functions won’t be available)
// $body-bg: #f1f4f9;
// $body-color: #111;
$primary: #2c5760;
$secondary: #bed0d3;
$info: #9cb6b7;
$warning: #fff5b5;
$light: #f1f4f9; // 淺藍背景
$modal-fade-transform: scale(.9);
// $border-color: #333;
// 修改全域的字型
// $font-family-sans-serif: "Microsoft JhengHei", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Option A: Include all of Bootstrap
@import "bootstrap/scss/bootstrap";

// bootstrap icon
// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
// Import the Sass files as usual
@import "bootstrap-icons/font/bootstrap-icons";

// Then add additional custom code here
// -------------------------------------------------------- */

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; // value from 100 to 900
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.chiron-goround-tc-font {
  font-family: "Chiron GoRound TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; // value from 200 to 900
  font-style: normal;
}

i.bi {
  &.bolder {
    &::before {
      font-weight: 700 !important;
      transform: translateY(1px);
    }
  }
}

.italics {
  display: inline-block;
  transform: skewX(-8deg);
}

html, body {
  margin: 0;
  height: 100%; /* 確保頁面高度撐滿視窗 */
}
a {
  text-decoration: none;
  color: #333;
}

// Navbar
.topNav {
  z-index: 1021;
  @include media-breakpoint-up(lg) {
    height: 74px;
  }
  @include media-breakpoint-down(lg) {
    width: 100%;
    height: 72px;
    &.active {
      .box {
        padding-bottom: .5rem;
      }
    }
  }
  .logo_svg {
    fill: var(--bs-dark);
    @include media-breakpoint-down(md) {
        transform: scale(.95);
        transform-origin: top right;
      }
  }
  .navicon {
    position: relative;
    i {
      font-size: 1.5rem;
    }
    .big-icon {
      font-size: 1.6rem;
    }
    .cartNum {
      position: absolute;
      top: 18%;
      left: 100%;
      font-size: 0.5em;
      height: 2em;
      min-width: 2em;
      border-radius: 2em;
      align-content: center;
    }
    .txt {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  a {
    color: var(--bs-dark);
    &.nav-link.active {
      color: var(--bs-primary);
    }
    &:hover {
      color: var(--bs-primary);
      .logo_svg {
        fill: var(--bs-primary);
      }
    }
  }
  .dropdownList {
    @include media-breakpoint-down(lg) {
      display: block;
      .dropdown-menu {
        border: none;
        .dropdown-item {
          text-align: center;
          border-radius: 5em;
          transition: all .15s ease-in-out;
        }
      }
    }
  }
  .dropdown-toggle {
    position: relative;
    &::after {
      position: absolute;
      top: 47%;
      margin-left: unset;
      transform: translateX(.255em);
    }
  }
}

// Footer
footer {
  .logo_svg {
    fill: var(--bs-white);
    @include media-breakpoint-down(md) {
        transform: scale(.95);
        transform-origin: top right;
      }
  }
  a {
    color: var(--bs-secondary-color);
    &:hover {
      color: var(--bs-primary);
    }
    i.fs-4 {
      @include media-breakpoint-down(lg) {
        font-size: 1.5rem !important;
      }
    }
  }
  &.bg-dark {
    a{
      color: #fff;
      &:hover {
        color: var(--bs-secondary);
        .logo_svg {
          fill: var(--bs-secondary);
        }
      }
    }
  }
}

// Offcanvas
.offcanvas {
  .offcanvas {
    &-body {
      .tt {
        line-height: 1.75;
        font-size: 1.1em;
      }
      .form-check {
        margin-bottom: .5em;
      }
    }
    &-footer {
      padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
    }
  }
}

// 動態
.link-animated {
  @include media-breakpoint-up(md) {
    position: relative;
    &::before {
      content: "";
      transform-origin: left;
      background: currentColor;
      width: 85%;
      height: 1px;
      transition: transform .3s;
      position: absolute;
      bottom: 4px;
      left: 11%;
      transform: scaleX(0);
    }
    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }
  }
}
.breadcrumb {
  .link-animated {
    @include media-breakpoint-up(md) {
      &::before {
        width: 100%;
        bottom: -3px;
        left: 0;
      }
    }
  }
  &.default {
    @include media-breakpoint-up(md) {
      padding-left: 1.275rem;
    }
    @include media-breakpoint-down(md) {
      padding-left: .5rem;
    }
  }
}
.slideLeft {
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}
@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-4%);
	}
	65%{
		transform: translateX(1%);
	}
	80%{
		transform: translateX(-1%);
	}
	95%{
		transform: translateX(0%);
	}			
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(150%);
	}
	50%{
		-webkit-transform: translateX(-4%);
	}
	65%{
		-webkit-transform: translateX(1%);
	}
	80%{
		-webkit-transform: translateX(-1%);
	}
	95%{
		-webkit-transform: translateX(0%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
// motionLine
@keyframes motionLine {
  0%   { width: 0;}
  100% { width: 3.7em;}
}
@keyframes motionLineS {
  0%   { height: 0;}
  100% { height: 3.7em;}
}
// 飄-上下
.uptodown-play { animation:uptodown-play 1.5s ease-in-out infinite alternate; }
@keyframes uptodown-play { 
  0%   { transform: translate(-8px, 0);} 
  100% { transform: translate(0px, 0);}
}

// 輪播共用
.swiper {
  width: 100%;
  height: 100%;
  // 自定義 navigation
  .swiper-button-prev, .swiper-button-next {
    box-sizing: border-box;
    padding: 0.8em;
    border-radius: 10em;
    border: solid 1px var(--bs-primary);
    background-color: rgba(255, 255, 255,.7);
    transform: scale(0);
    transition: all .4s ease;
  }
  &:hover {
    .swiper-button-prev, .swiper-button-next {
      transform: scale(0.8);
    }
  }
}
.swiper-slide {
  background-color: var(--bs-gray-100);
  background-size: cover;
  background-position: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.detail, .box_more {
  .swiper-button-disabled {
    display: none;
  }
  @include media-breakpoint-between(md, xl) {
    .swiper {
      &:hover {
        .swiper-button-prev, .swiper-button-next {
          transform: scale(0.7);
        }
      }
    }
  }
}


/* -----------------------------------
 * AdminLogin.vue 登入頁
 * ----------------------------------- */
.signArea {
  position: relative;
  border-radius: 2em;
  background-color: var(--bs-body-bg);
  padding: 2.6em 1.5em 2.25em;
  box-shadow: 2vw 2vw 6vw #e6e6e6, -2vw -2vw 6vw #fcfcfc;
  @include media-breakpoint-up(md) {
    padding: 2.75em 3.5em 2.25em;
    box-shadow: 6px 6px 18px #e6e6e6, -6px -6px 18px #fcfcfc;
  }
  &::before {
    z-index: -1;
    content: "LOGIN";
    position: absolute;
    top: -1.3em;
    left: 50%;
    transform: translateX(-48%) scale(1.7) skew(-15deg);
    color: #d2d2d2;
    font-size: 3.4em;
    font-weight: 900;
    letter-spacing: 0.01em;
    font-family: "Roboto", sans-serif;
    // font-style: italic;
  }
}


/* -----------------------------------
 * AdminDashboard.vue 管理後台
 * ----------------------------------- */
.tabNav {
  .nav-item {
    border-radius: .5rem;
    overflow: hidden;
  }
  .nav-link {
    &.active {
      font-weight: 700;
      background-color: #fff;
      border-bottom: solid var(--bs-primary) .475rem;
      @include media-breakpoint-up(lg) {
        border-bottom: none;
        border-right: solid var(--bs-primary) .7rem;
      }
    }
  }
}
.admin {
  @include media-breakpoint-down(lg) {
    .tabNav {
      .nav-link {
        padding-top: .75em;
        padding-bottom: .75em;
      }
    }
  }
  @include media-breakpoint-between(md, xl) {
    max-width: 96%;
  }
}


/* -----------------------------------
 * MainPage.vue 前台首頁
 * ----------------------------------- */
// .home {
//   padding-top: 74px;
// }
.main {
  @include media-breakpoint-down(lg) {
    padding: 0;
  }
  @include media-breakpoint-between(md, xl) {
    font-size: 15px;
  }
  @include media-breakpoint-down(md) {
    font-size: 3vw;
  }
  a:hover {
    @include media-breakpoint-up(md) {
      .bi::before {
        transition: all .2s ease;
        transform: translateX(4px);
      }
    } 
  }
}
.Area {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
}
.Area1220 {
  @include media-breakpoint-up(lg) {
    width: 1220px;
  }
  // @include media-breakpoint-only(lg) {
  //   width: 100%;
  // }
}
.Areabottom {
  margin-bottom: 10vw;
  @include media-breakpoint-up(md) {
    margin-bottom: 80px;
  }
}
.AreaTitle {
  .smTxt {
    font-size: 1.5em;
    letter-spacing: .01em;
    margin-bottom: -1em;
  }
  .engTxt {
    font-size: 4.375em;
    line-height: 1.35;
  }
}
.decoDot {
  position: relative;
  width: fit-content;
  &::after {
    content: "";
    position: absolute;
    bottom: 24%;
    right: -.825rem;
    width: .435rem;
    height: .435rem;
    border-radius: 50%;
    background-color: var(--bs-info);
  }
}

// 版頭
.Area_top {
  z-index: 3;
  position: relative;
  @include media-breakpoint-up(md) {
    height: 482px;
  }
  .box {
    @include media-breakpoint-up(md) {
      padding: 88px 69px 0 96px;
    }
  }
  .title {
    font-size: 11.4em;
    line-height: 1.2;
    letter-spacing: .01em;
    color: #2e4a50;
  }
  .subtitle {
    font-size: 1.5em;
    letter-spacing: .01em;
  }
  .PD_info {
    z-index: 2;
    .txt1 {
      font-size: 1.75em;
      line-height: .95;
      letter-spacing: .1em;
    }
    .txt2 {
      flex-basis: 60%;
      font-size: 1.125em;
      line-height: 1.2;
      letter-spacing: .15em;
      border-color: #333 !important;
    }
  }
  .btnMore {
    z-index: 1;
    width: fit-content;
    font-size: 1.125em;
    margin-top: -1px;
  }
  .box_PD {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 0;
      right: -26px;
    }
  }
  .scroll {
    position: absolute;
    top: 72%;
    left: -9.5%;
    transform: rotate(-90deg);
    img {
      transform: rotate(90deg);
    }
    .arrowline {
      position: relative;
      height: 1px;
      width: 4.5em;
      background-color: #333;
      &::after {
        position: absolute;
        content: "";
        top: -0.7em;
        left: -10.5%;
        width: 1.5em;
        height: 1.5em;
        border: solid 1px #333;
        border-radius: 10em;
      }
      &::before {
        position: absolute;
        content: "";
        top: -0.28125em;
        left: 2%;
        width: .625em;
        height: .625em;
        border: solid 1px #333;
        border-color: transparent transparent #333 #333;
        transform: rotate(45deg);
      }
    }
  }
  // 版頭 Tablet
  @include media-breakpoint-between(md, xl) {
    height: 460px;
    .box {
      padding: 88px 80px 0 30px;
    }
    .title {
      font-size: 8.5em;
    }
    .PD_info {
      margin-top: .5em;
    }
    .box_PD {
      width: 510px;
      right: -40px;
      padding-right: 20px;
    }
    .scroll {
      top: 74%;
      left: -3%;
    }
  }
  // 版頭 MB
  @include media-breakpoint-down(md) {
    .box {
      padding: 3.75em 5% 0;
    }
    .title {
      font-size: 8em;
      margin-left: 4%;
    }
    .subtitle {
      margin-left: 4%;
    }
    .PD_info {
      justify-content: center !important;
      .txt2 {
        flex-basis: 62%;
      }
    }
    .btnMore {
      margin-right: 4.5%;
    }
    .box_PD {
      margin-top: -1.5vw;
      padding-left: .5%;
      padding-right: 8.5%;
    }
    .scroll {
      top: 84%;
      left: 78.5%;
    }
  }
}
/* -----------------------------------
 * 版頭品輪播設定 - 自定義分頁
 * ----------------------------------- */
.topPDSwiper.swiper-horizontal {
  height: 136%;
  @include media-breakpoint-between(md, xl) {
    height: 117%;
  }
  .swiper-slide {
    cursor: pointer;
    background-color: transparent;
  }
  .number-pagination {
    @include media-breakpoint-up(md) {
      width: 36%;
      margin-left: 64%;
    }
    @include media-breakpoint-between(md, xl) {
      margin-left: 63%;
    }
    @include media-breakpoint-down(md) {
      width: 10%;
      top: 54%;
      left: 3%;
    }
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; // value from 100 to 900
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  
    // 自定義數字型
    .swiper-pagination-bullet {
      background: none;
      @include media-breakpoint-up(md) {
        margin: 0 .875em;
      }
      @include media-breakpoint-between(md, xl) {
        margin: 0 .5em;
      }
      @include media-breakpoint-down(md) {
        margin: .5em .875em;
      }
    }
    .swiper-pagination-bullet-active {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -0.56em;
        left: 1.5em;
        width: 3.7em;
        height: 1px;
        background-color: var(--bs-secondary);
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -0.56em;
        left: 1.5em;
        height: 1px;
        background-color: #333;
        animation: motionLine 3.5s linear both;
      }
      @include media-breakpoint-up(md) {
        margin-right: 4.25em;
      }
      @include media-breakpoint-down(md) {
        margin-bottom: 4.5em;
        &::before, &::after {
          bottom: -1em;
          left: .9em;
          transform: rotate(90deg);
          transform-origin: left center;
        }
      }
    }
    // 圓形數字 from official demo
    // .swiper-pagination-bullet {
    //   width: 20px;
    //   height: 20px;
    //   text-align: center;
    //   line-height: 20px;
    //   font-size: 12px;
    //   color: #000;
    //   opacity: 1;
    //   background: rgba(0, 0, 0, 0.2);
    // }
    // .swiper-pagination-bullet-active {
    //   color: #fff;
    //   background: #007aff;
    // }
  }
  .swiper-button-prev, .swiper-button-next {
    @include media-breakpoint-up(md) {
      top: 96.8%;
      transform: scale(0.6);
      &:hover {
        color: #fff;
        background-color: var(--bs-primary);
        transform: scale(0.75);
      }
    }
    @include media-breakpoint-down(md) {
      transform: scale(0.6) rotate(90deg);
    }
  }
  .swiper-button-prev {
    @include media-breakpoint-up(md) {
      left: 70.8%;
    }
    @include media-breakpoint-between(md, xl) {
      top: 96.3%;
      left: 67.6%;
    }
    @include media-breakpoint-down(md) {
      left: 3.1%;
    }
  }
  .swiper-button-next {
    @include media-breakpoint-up(md) {
      right: 5.9%;
    }
    @include media-breakpoint-between(md, xl) {
      top: 96.3%;
      right: 4%;
    }
    @include media-breakpoint-down(md) {
      right: 85.7%;
      top: 82%;
    }
  }
}

// 最新消息
.Area_news {
  z-index: unset;
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 50%;
    left: -36%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 6em 6em 0;
  }
  .box {
    position: relative;
    z-index: 5;
    padding: 3.25em 5em;
    ul {
      font-size: 1.25em;
    }
  }
  @include media-breakpoint-down(md) {
    margin-top: -7.5vw;
    &::before {
      left: -12%;
    }
    .box {
      padding-left: 2.75em;
      padding-right: 5.3em;
      ul {
        font-size: 1.3em;
      }
    }
  }
}

// 商品分類
.Area_category {
  .AreaTitle {
    margin-bottom: 2em;
    @include media-breakpoint-up(md) {
      padding-right: 5em;
    }
    @include media-breakpoint-between(md, xl) {
      padding-right: 3em;
    }
  }
  .PD_cate {
    position: relative;
    transition: all .4s ease;
    i.bi {
      position: absolute;
      right: 10%;
      top: 45%;
      font-size: 1.75em;
      &::before {
        transform: none;
      }
    }
    &:hover {
      @include media-breakpoint-up(md) {
        transform: translateY(-6px);
      }
    }
  }
  @include media-breakpoint-down(md) {
    .box {
      flex-wrap: wrap;
      justify-content: center;
    }
    .PD_cate {
      width: 31%;
      i.bi {
        font-size: 1.5em;
      }
    }
  }
}

// 品牌理念
.Area_about {
  .AreaTitle {
    margin-bottom: 2em;
    @include media-breakpoint-up(md) {
      padding-left: 5em;
    }
    @include media-breakpoint-between(md, xl) {
      padding-left: 3em;
    }
    @include media-breakpoint-down(md) {
      padding-left: 6%;
    }
  }
  .txtArea {
    position: relative;
    margin-bottom: 7.9em;
    .slogan {
      .txt1 {
        letter-spacing: .1em;
      }
      .txt2 {
        font-weight: 500;
        line-height: 1.1;
      }
    }
    .story {
      margin-bottom: 4.8em;
      letter-spacing: .1em;
    }
    .decoTxt {
      position: absolute;
      font-size: 1.125em;
      letter-spacing: 0.035em;
      bottom: -1.9em;
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: -.9em;
        width: 8.8em;
        height: 2.6em;
        background-color: #fff;
      }
    }
    &.txtR {
      padding-left: 15.6em;
      margin-left: -2.8em;
      margin-right: 2.7em;
      .decoTxt {
        right: 0;
        &::before {
          left: 45%;
        }
      }
    }
    &.txtL {
      padding-left: 5em;
      margin-bottom: 4.6em;
      margin-right: -6.6em;
      .story {
        margin-bottom: 5.9em;
      }
      .decoTxt {
        left: 0;
        &::before {
          left: -15%;
        }
      }
    }
  }
  .picArea {
    z-index: -1;
    position: relative;
    .decoBig {
      z-index: -1;
      position: absolute;
      font-size: 6.75em;
      line-height: 1;
      letter-spacing: .02em;
    }
  }
  .box_1 {
    .picArea {
      .decoBig {
        transform: rotate(-90deg);
        right: -2.85em;
        top: 32.4%;
      }
    }
  }
  .box_2 {
    position: relative;
    .txtArea {
      &.txtL {
        padding-left: 0;
        margin-right: -5em;
      }
    }
    .picArea {
      .decoBig {
        left: -6.65em;
        top: 54%;
      }
    }
    @include media-breakpoint-up(md) {
      transform: translateX(290px);
      .txtArea {
        &.txtL {
          margin-bottom: 13.5em;
          .slogan {
            margin-left: -276px;
          }
          .story {
            margin-bottom: 10.7em;
            margin-left: -276px;
          }
        }
      }
      .pic2 {
        position: absolute;
        padding: 0;
        left: -468px;
        bottom: -6.7em;
        width: auto;
      }
      
    }
  }
  .box_3 {
    z-index: 3;
    position: relative;
    margin-top: -2.4em;
    margin-left: -1.6em;
    .picArea {
      .decoBig {
        transform: rotate(-90deg);
        right: -1.75em;
        top: 64.1%;
      }
    }
  }
  // Tablet
  @include media-breakpoint-between(md, xl) {
    .box_1 {
      .txtArea {
        padding-left: 7.8em;
        margin-right: 4em;
      }
      .picArea {
        margin-right: auto;
        .decoBig {
          right: -2em;
        }
      }
    }
    .box_2 {
      transform: translateX(160px);
      .txtArea {
        &.txtL {
          .slogan {
            margin-left: -170px;
          }
          .story {
            margin-left: -170px;
          }
        }
      }
      .picArea {
        .decoBig {
          left: -4.72em;
        }
      }
      .pic2 {
        left: -185px;
        bottom: -0.7em;
        width: 240px;
      }
    }
    .box_3 {
      margin-top: -1em;
      .txtArea {
        padding-left: 0;
        margin-right: -5em;
      }
      .picArea {
        .decoBig {
          right: -2.07em;
          top: 58.5%;
        }
      }
    }
  }
  // MB
  @include media-breakpoint-down(md) {
    .txtArea {
      padding-top: 3em;
      .story {
        font-size: 1.3em !important;
      }
    }
    .box_1 {
      .picArea {
        .decoBig {
          right: -48%;
          top: 48%;
        }
      }
    }
    .box_2 {
      margin-bottom: 10vw;
      flex-direction: column-reverse;
      .txtArea {
        &.txtL {
          margin-bottom: 7.9em;
          margin-right: 1em;
        }
      }
      .picArea {
        .decoBig {
          text-align: left;
          left: -47%;
          top: 75%;
        }
      }
      .pic2 {
        position: absolute;
        padding: 0;
        left: -2%;
        top: -11vw;
        width: 44%;
      }
    }
    .box_3 {
      flex-direction: column-reverse;
      .picArea {
        .decoBig {
          right: 61%;
          top: 50%;
        }
      }
    }
  }
}

// 限時促銷
.Area_sale {
  @include media-breakpoint-up(md) {
    margin-bottom: 40px;
  }
  .box {
    padding-top: 3.4%;
    padding-bottom: 6.3%;
    background-image: url('@/assets/images/saleBN_bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }
  .timer {
    margin: 1.1em auto;
    padding-bottom: 2em;
    .timer-text {
      span {
        position: relative;
        margin-left: .25em;
        padding: .75rem;
        font-size: 2em;
        &::after {
          position: absolute;
          content: "hours";
          bottom: -2em;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
          font-size: .5em;
          font-weight: 400;
        }
        &.DD {
          &::after {
            content: "days";
          }
        }
        &.MM {
          &::after {
            content: "mins";
          }
        }
        &.SS {
          &::after {
            content: "secs";
          }
        }
      }
      i {
        color: transparent;
      }
    }
  }
  // Tablet
  @include media-breakpoint-between(md, xl) {
    .box {
      padding-top: 4%;
      padding-bottom: 4%;
      background-position: center;
    }
    .timer.countdown-box {
      font-size: .95em;
      margin: 0.8em auto;
    }
    .btn {
      transform: scale(.81);
      transform-origin: top center;
    }
  }
  // MB
  @include media-breakpoint-down(md) {
    .AreaTitle {
      flex-direction: column-reverse;
      align-items: center !important;
      padding-left: 3%;
      .smTxt {
        align-self: center;
        margin-right: .6em !important;
        margin-bottom: 0 !important;
      }
    }
    .box {
      padding-top: 7%;
      padding-bottom: 11%;
      // background: url('@/assets/images/saleBN_mbg_top.png') top center/100% no-repeat,url('@/assets/images/saleBN_mbg_bottom.png') bottom center/100% no-repeat,url('@/assets/images/saleBN_mbg_bottom.png') bottom center/100% repeat-y; // 不可做 png
      background-image: url('@/assets/images/saleBN_mbg_bottom.png');
      background-position: bottom center;
    }
    &::after {
      content: "";
      display: block;
      z-index: -1;
      position: absolute;
      top: 0vw;
      left: 0;
      width: 100%;
      height: 33vw;
      background-image: url('@/assets/images/saleBN_mbg_top.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
    &::before {
      content: "";
      display: block;
      z-index: -1;
      position: absolute;
      top: 22vw;
      left: 0;
      width: 100%;
      height: calc(100% - 33vw);
      background-image: url('@/assets/images/saleBN_mbg_center.png');
      background-repeat: repeat-y;
      background-size: 100%;
      background-position: center bottom;
    }
    .timer.countdown-box {
      font-size: .95em;
      margin: 1.6em auto 1.5em;
      padding-left: 2%;
    }
    .btn {
      transform: scale(.81);
      transform-origin: top center;
    }
  }
}

// 看更多
.Area_more {
  a {
    font-size: 1.5em;
    letter-spacing: .075em;
  }
}


/* -----------------------------------
 * PDShop.vue 前台商品館頁
 * ----------------------------------- */
.shop {
  .navArea {
    border-color: #333 !important;
    @include media-breakpoint-down(md) {
      overflow-x: scroll;
      .box {
        width: 170vw;
        padding-right: calc(var(--bs-gutter-x) * 0.5);
      }
    }
    .box {
      @include media-breakpoint-up(md) {
        width: 900px;
        margin: 0 auto;
        .navItem {
          width: 150px;
          &:hover {
            &::after {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 5px;
              background-color: var(--bs-primary);
            }
          }
        }
      }
      .navItem {
        padding: .75em 0 1em;
        cursor: pointer;
        position: relative;
        &.active {
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #333;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    // padding-top: 53px;
    .navArea {
      top: 74px;
    }
  }
  @include media-breakpoint-down(lg) {
    .navArea {
      top: 72px;
    }
  }
  @include media-breakpoint-between(md, xl) {
    .navArea {
      .box {
        width: 100%;
      }
    }
  }
}

// 按鈕區
.filterBar {
  .selectOrder {
    width: 10em;
    border-radius: .5em;
    &.dropdown-toggle::after {
      margin-left: 0;
      border-width: .35em;
      position: absolute;
      top: 46%;
      right: 8%;
    }
    .sortTxt {
      display: none;
    }
  }
  .btnFilter {
    border-radius: .5em;
    i.bi {
      font-size: 1.2em;
    }
    small {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      transform: translateY(-1px);
    }
  }
  .arrangeIcon {
    font-size: 1.5em;
    i.bi {
      &::before {
        font-weight: 700 !important;
      }
    }
  }
}
.resultTxt {
  font-size: 1.125em;
}

// 商品列表
.PD_item {
  position: relative;
  transition: all .4s ease;
  @include media-breakpoint-down(md) {
    font-size: 3vw;
  }
  .direction {
    flex-direction: column;
  }
  .tag {
    // font-size: 1.125em;
    padding: .25em .625em;
  }
  .card-body {
    padding: .875em 0;
  }
  .pdName {
    font-size: 1.25em;
    margin-bottom: .375em;
    // 超出一行...
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap; // 不換行
  }
  .oriPrice {
    font-size: .9375em;
  }
  .salePrice {
    font-size: 1.75em;
  }
  .actionGroup {
    position: absolute;
    bottom: 1.6em;
    right: .63em;
    i.bi {
      font-size: 1.625em;
    }
    .icon {
      width: 1.625em;
      i:last-child {
        display: none;
      }
    }
    .iconAddLike {
      margin-right: .25em;
      i.bi {
        &::before {
          vertical-align: -0.2em;
        }
      }
      &.active {
        i:first-child {
          display: none;
        }
        i:last-child {
          display: block;
        }
      }
    }
    .iconAddCart {
      &.disabled {
        pointer-events: none;
      }
    }
  }
  .icon:hover {
    i:first-child {
      display: none;
    }
    i:last-child {
      display: block;
    }
  }
  .card-img-top {
    // 正方形圖片
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
    transition: all .4s ease;
  }
  &:hover {
    @include media-breakpoint-up(md) {
      transform: translateY(-6px);
      // .card-img-top {
      //   border: solid 4px var(--bs-primary);
      // }
    }
  }
}
// 條狀排列
.arrangeLine {
  justify-content: center;
  .PD_item {
    width: 100%;
    .direction {
      flex-direction: row;
    }
    .tag {
      font-size: .875em;
    }
    .pic {
      flex-basis: 11%;
      margin-right: 1.5em;
      @include media-breakpoint-down(lg) {
        flex-basis: 24%;
      }
    }
    .card-body {
      align-self: center;
      padding: .125em 0;
    }
  }
}